/* IMPORTANDO O CSS BASE */
@import url("./noticias.css");

.hero-wrapper {
    background-image: url('./../assets/images/jpg/ibirapuera2.jpg');
}

.recent-news-list {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.recent-news-list h3 {
    font-size: 2.2rem;
    font-weight: 800;
    color: #1a1a1a;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
}

.recent-news-list h4 {
    text-align: left;
    color: #1a1a1a;
    font-size: 1.0rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.recent-news-list h5 {
    border-left: 5px solid #643791;
    padding-left: 10px;
    margin-bottom: 10px;
}

.recent-news-list span {
    display: block;
    font-size: 0.9rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.imagem-principal {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
    margin: 35px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#imagem-noticia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    #mobile-menu-btn i {
        transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .recent-news-list h3 {
        font-size: 1.8rem;
    }

    .recent-news-list h3+span {
        font-size: 1.1rem;
    }

    .imagem-principal {
        max-height: 300px;
    }

    .content-card {
        padding: 20px;
    }

    .recent-news-list {
        padding: 0 15px;
    }

    .recent-news-list h3 {
        font-size: 1.0rem;
        line-height: 1.3;
        margin-top: 30px;
    }

    .recent-news-list h5 {
        margin-top: 20px;
    }

    .recent-news-list span {
        font-size: 1rem;
        line-height: 1.6;
    }

    .breadcrumb {
        text-align: left;
        margin-bottom: 5px;
    }
    
    .hero-titles {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .recent-news-list h3 {
        font-size: 1.5rem;
    }

    .recent-news-list h5 {
        font-size: 0.8rem;
    }

    .imagem-principal {
        max-height: 250px;
        border-radius: 10px;
    }

}